
/*font-family: 'Open Sans', sans-serif;*/

.clearfix:after {
	content:'';
	display: block;
	clear: both;
}

a:link {
	text-decoration: none;
}

/* mouse over link */
a.regularitem:hover {
    color: #666666;
}

a.emphasisitem:hover {
    color: #666666;
}

.container {
	margin: 0 auto;
	box-sizing: border-box;
}


header {
	background-color: #000000;
	border-bottom: solid 4px;
	border-color: #ffff05;
}

h1.logo {
	font-size: 26px;
	font-weight: bolder;
	color: #ffff05;
	padding: 20px 0 0 20px;
}

nav {
	float: right;
}

ul li {
	float: left;
	padding:10px 20px 10px 10px;
}

a.emphasisitem {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}

a.regularitem {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #ffffff;
}

.tagline {
	background-color: #dddddd;
	padding: 10px;
	text-align: center;
}

h2.tagline {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	font-style: italic;
}

.strikeout {
	color: #666666;
	text-decoration: line-through;
}


.emphasis {
	text-decoration: underline;
	text-decoration-color: #ffff05;
}

main {
	background-image: url(../images/coworking.jpg);
	background-position: top center;
	background-size: cover;
}

.mainctabox {
	height: 500px;
	width: 20%;
	margin: 30px;
	padding: 30px;
	float: right;
	background-color: rgba(238, 238, 238, 0.8);
	border: solid 2px #dddddd;
}

h3.wtf {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
}

p.wtf {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

p.maincta {
	width: 80%;
	padding: 10px;
	margin: 20px auto;
	text-align: center;
	background-color: #ffff05;
	border-radius: 4px;
	border-bottom: solid 2px #666666;
}

a.maincta {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}


.left, .center, .right {
	width: 28%;
	margin: 15px 0px 15px 0px;
	padding: 20px;
	float: left;
}

h3.bottomblox {
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
}

p.bottomblox {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

.hairline {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}

p.secondarycta {
	width: 50%;
	padding: 10px;
	margin: 20px auto;
	text-align: center;
	background-color: #dddddd;
	border-radius: 4px;
	border-bottom: solid 2px #666666;
}

a.secondarycta {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}

footer {
	padding: 20px;
	background-color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #ffffff;
}


